---
layout: home
---

<body>
    <p>
      <a href="mailto:sophiemakschram@hotmail.com">email</a>
    </p>
    <section id="projects" class="section">
      <button class="accordion"><p>projects</p></button>
      <div class="panel">
      <br>
      <div id="post">
    {% assign projects = site.projects | sort: date | reverse %}
    {% if post.status == 'published' %}
    {% endif %}
    {% for post in projects limit:50  %}
    <b> {{ post.title }} ( {{ post.postdate }} )</b>
    <br>
    {% endfor %}
  </div>
      <br>
      </div>
    </section>
    <section id="performances" class="section">
      <button class="accordion"><p>performances</p></button>
      <div class="panel">
      <br>
      {% include about.html %}
      <br>
      </div>
    </section>
    <section id="writing" class="section">
      <button class="accordion"><p>writing</p></button>
      <div class="panel">
      <br>
      {% include about.html %}
      <br>
      </div>
    </section>
   <section id="workshops" class="section">
      <button class="accordion"><p>workshops & talks</p></button>
      <div class="panel">
      <br>
      {% include about.html %}
      <br>
      </div>
    </section>
    <section id="about" class="section">
      <button class="accordion"><p>about</p></button>
      <div class="panel">
      <br>
      <p>
      {% include about.html %}
    </p>
      <br>
      </div>
    </section>
  </body>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {

    var panel = this.nextElementSibling;
    var isOpen = panel.style.maxHeight;

    for (var j = 0; j < acc.length; j++) {
      acc[j].classList.remove("active");
      acc[j].nextElementSibling.style.maxHeight = null;
    }

    if (!isOpen) {
      this.classList.add("active");
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="jquery.ripples.js"></script>
<script>
$(document).ready(function() {
  try {
    $('body').ripples({
      resolution: 512,
      dropRadius: 100, //px
      perturbance: 0.01,
    });
  }
  catch (e) {
    $('.error').show().text(e);
  }

  $('.js-ripples-disable').on('click', function() {
    $('body, main').ripples('destroy');
    $(this).hide();
  });
});
</script>