<article>
<p>Sophie Mak-Schram works across artistic practice, art historical research and radical pedagogies. They engage others in place-specific work around power, collectivity, knowledges and futures. Sophie draws on personal and shared experiences of cultural difference, coloniality, race and gender.</p>

<p>Often using the metaphor of the 'tool' - as a poetic and practical object - Sophie works with collaborators to make tools that can shift power, gather groups and oHer ways of being in relation (to each other, to place, to institutions) differently.</p>

<a href="/bio.md">more</a>

</article>